html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Colors */

:root {
    --turquoise: #1bcbb5;
    --darkBlue: #09285e;
    --purple: #9e79ec;
    --grey: #c3c6c8;
    --darkGrey: #646668;
    --black: #131720;
}


/* General Styles */

html,
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;;
}

body {
    padding: 0 40px;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h2,
h3 {
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2::after {
    content: '';
    display: block;
    margin-top: 20px;
    background: linear-gradient(60deg, var(--purple) 15%, var(--turquoise));
    height: 2px;
    width: 100%;
}

/* Nav Styling */

nav {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    width: 70px;
}

.leftNav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu::after {
    content: '';
    background-color: var(--turquoise);
    width: 2px;
}

.menu li {
    margin-right: 30px;
    font-weight: bold;
}

.menu a:hover {
    color: var(--turquoise);
}

.menu a::after {
    content: '';
    display: block;
    background-color: var(--turquoise);
    margin-top: 8px;
    height: 2px;
    width: 0px;
    transition: width .2s linear;

}

.menu a:hover::after,
.menu a:focus::after {  
    width: 100%;
}

.contactInfo {
    margin-left: 20px;
}

.headerVid {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 90vh;
}

.heading {
    position: absolute;
    color: white;
    font-size: 3.5rem;
}


/* Form Styling */

.formSection {
    display: none;
    justify-content: center;
    position: relative;
    background-color: var(--grey);
    padding: 40px;
    border-radius: 7px;
    margin-top: -50px;
    z-index: 1;
}

input {
    padding: 10px;
    border: none;
}

.submit {
    padding: 10px 20px;
    background-color: var(--turquoise);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Trailer Styling */

.trailerSection {
    text-align: center;
    margin-top: 150px;
}

.trailerList {
    display: flex;
    margin-top: 80px;
}

.trailer {
    text-align: left;
    border: 1px solid var(--grey);
    border-radius: 7px;
    transition: box-shadow .2s linear;
}

.trailerImg {
    max-height: 350px;
    overflow: hidden;
}

.trailer:hover,
.trailer:focus {
    border: 1px solid transparent;
    box-shadow: 0px 5px 15px var(--grey);
}

.trailer1 {
    margin-right: 30px;
}

.details {
    border-bottom: 1px solid var(--grey);
    padding: 15px 30px;
}

.description {
    padding: 30px;
}

.description p {
    margin-top: 15px;
    color: var(--darkGrey);
}

/* Steps styling */

.steps {
    margin-top: 150px;
    background: linear-gradient(60deg, var(--purple) 15%, var(--turquoise));
    padding: 100px;
}

.stepsList {
    display: flex;
    justify-content: space-between;
    color: white;
}

.stepsList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.stepImg {
    width: 60px;
}

/* Campground styling */

.campgroundSection {
    margin-top: 150px;
}

.campgroundSection h2 {
    text-align: center;
}

.campgroundList {
    display: grid;
    margin-top: 80px;
    gap: 25px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 5vw);
}

.campground {
    position: relative;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    top: 0;
    opacity: 0;
    background: rgba(27, 203, 181, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity .2s ease-in;
}

.overlay p {
    color: white;
    margin-top: 5px;
}

.campground:hover .overlay {
    opacity: 1;
}

.campground1 {
    grid-column: 1/3;
    grid-row: 1/5;
}

.campground2 {
    grid-column: 3/6;
    grid-row: 1/3;
}

.campground3 {
    grid-column: 3/6;
    grid-row: 3/5;
}

.campground4 {
    grid-column: 6/8;
    grid-row: 1/5;
}


/* Footer Styling */

footer {
    background: var(--darkBlue);
    padding: 40px;
    margin-top: 150px;
}

footer a {
    color: white;
}

.copyright {
    display: flex;
    height: 40px;
    align-items: center;
    color: var(--grey);
}